/* _facetted-form.scss */

#c5 {
	text-align: left;
	span {
		display: block;
		float: left;
		width: 20px;
		margin-left: 4px;
		margin-bottom: 10px;
	}
}
#c5-all {
	text-align: left;
	border: none;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 10px;
	//margin-left:3px;
	margin-bottom: 3px;
}

.faceted_letter {
	border-right: 1px solid #000;
	line-height: 12px;
	padding-right: 6px;
	padding-left: 2px;
}
.faceted_letter_selected {
	  font-size: 1.2em;
	  color: $wine_grape;
}

.checkForm {
	text-align: left;
	list-style-type: none !important;
	h4 {
		font-weight: bold;
	}
	li {
		list-style: none !important;
		padding-left: 0 !important;
		background-image: none !important;
	}
	label {
		@include font_size(13px);
		font-weight: normal;
	}
	p#help {
		@include font_size(13px, !important);
		@include line-height(18px, !important);
		color: #000;
	}
	p#help a {
		@include font_size(13px, !important);
	}
}

fieldset {
	legend {
		@include font_size(15px);
		text-align: left;
		color: #000;
		text-transform: uppercase;
	}
}

.sidebar-panel#sbA {
	span, label, a {
		//color: $ucd_blue_100;
	}
}
/* /_facetted-form.scss */