/* _icons.scss */
a {
	&.pdf-icon {
		padding-left: 25px;
		background: url(../images/icons/filetype/pdf.gif) 0 50% no-repeat;
	}
	&.doc-icon {
		padding-left: 25px;
		background: url(../images/icons/filetype/doc.gif) 0 50% no-repeat;
	}
	&.docx-icon {
		padding-left: 25px;
		background: url(../images/icons/filetype/docx.gif) 0 50% no-repeat;
	}
	&.txt-icon {
		padding-left: 25px;
		background: url(../images/icons/filetype/txt.gif) 0 50% no-repeat;
	}
	&.ppt-icon {
		padding-left: 25px;
		background: url(../images/icons/filetype/ppt.gif) 0 50% no-repeat;
	}
	&.pptx-icon {
		padding-left: 25px;
		background: url(../images/icons/filetype/pptx.gif) 0 50% no-repeat;
	}
	&.xls-icon {
		padding-left: 25px;
		background: url(../images/icons/filetype/xls.gif) 0 50% no-repeat;
	}
	&.xlsx-icon {
		padding-left: 25px;
		background: url(../images/icons/filetype/xlsx.gif) 0 50% no-repeat;
	}
	&.zip-icon {
		padding-left: 25px;
		background: url(../images/icons/filetype/zip.gif) 0 50% no-repeat;
	}
	&.gif-icon {
		padding-left: 25px;
		background: url(../images/icons/filetype/gif.gif) 0 50% no-repeat;
	}
	&.jpg-icon {
		padding-left: 25px;
		background: url(../images/icons/filetype/jpg.gif) 0 50% no-repeat;
	}
	&.bmp-icon {
		padding-left: 25px;
		background: url(../images/icons/filetype/bmp.gif) 0 50% no-repeat;
	}
	&.swf-icon {
		padding-left: 25px;
		background: url(../images/icons/filetype/swf.gif) 0 50% no-repeat;
	}
	&.mp3-icon {
		padding-left: 25px;
		background: url(../images/icons/filetype/mp3.gif) 0 50% no-repeat;
	}
	&.ogg-icon {
		padding-left: 25px;
		background: url(../images/icons/filetype/ogg.gif) 0 50% no-repeat;
	}
}
/* /_icons.scss */