
/* UCD Identity - Colors (http://identitystandards.ucdavis.edu/graphic-standards/colors.html) */

$ucd_black_80: #333333;

$ucd_blue_100: #002855;
$ucd_blue_90: #1a3e68;
$ucd_blue_80: #335379;
$ucd_blue_70: #4d688c;
$ucd_blue_60: #667d9d;
$ucd_blue_50: #7f93ae;
$ucd_blue_40: #99a9bf;
$ucd_blue_30: #b2bdcf;
$ucd_blue_20: #ccd4e0;
$ucd_blue_10: #e5e9ef;

$ucd_green_80: #336e64;
$ucd_green_60: #66928b;

$evergreen: #00573F; 
$west_redbud: #C6007E;
$cal_popp: #ED8B00;
$gold_lup: #FFCD00;
$sun_grass: #78BE20;
$sky_blue: #00B5E2;
$wine_grape: #642667;
$cork_oak: #ACA39A;
$winter_sky: #5B7F95;
$sage_green: #9CAF88;
$shingle_brown: #4F2C1D;
$unitrans_red: #BA0C2F;


$ucd_bright_gold: #DAAA00;
$ucd_bright_gold_70: #E5C44D;
$ucd_bright_gold_40: #f0dd99;

$rec_blue: #008EAA;
$rec_blue_40: #99d2dd; // Not official shade, derived from 40% brighter web gold color
$rec_blue_20: #CCFFFF; // ""
$rec_blue_light: #e5f3f6; // ""

/* Other Custom colors */
$heading_navy_color: #003366;
$blue_link_color: #0062A0;

$box_header_blue: $ucd_blue_10;
$box_light_gray: #f2f2f2;
$tab_light_gray: #e5e5e5; // Home page

$ucd_black_30:#B2B2B2;


$link_color: $ucd_blue_80;

$ucd_error:#ffedf9;


$sticky_nav_color: #e1e1e1;
