// Fonts
// Conversion: 16px = 1.0 em
$BASE: 16px;

// Banner port heights. Note: Sync with values in jquery.cf.main.js
$front_banner_height: 565px;
$shadow_am_viewport_height: 418px;

// Import the mixins and placeholders
@import "abstractions/mixins";
@import "abstractions/placeholders";

@import "vendor/bootstrap-override-variables"; // Override Bootstrap *variables* here
@import "ucd-variables";

//@import "components/typography/typography"; // This already included in styles.scss

